/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

.heading {
  font-family: 'Playfair Display', serif;
}

.normal_text {
  font-family: 'Source Sans Pro', sans-serif;
}

.meals_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 5rem;
}

.card{
    border: 3px none goldenrod;
    border-radius:54% 46% 56% 44% / 5% 100% 5% 100%; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;

   
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 6px 27px 19px rgba(241,239,32,0.36); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 6px 27px 19px rgba(241,239,32,0.36);

}

.card:hover{
    cursor: pointer;
}

.card img {
    width:100%;
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.recipe_button {
    background: black;
    background: radial-gradient(circle, rgba(233,209,214,1) 0%, rgba(230,227,135,1) 52%, rgba(201,149,24,1) 100%); 
    width: 100%;
    padding:1em;
    justify-content: center;
    align-items: center;
    display:flex;

    border-radius:54% 46% 56% 44% / 0% 100% 0% 100%; 
}



