/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

.heading {
  font-family: 'Playfair Display', serif;
}

.normal_text {
  font-family: 'Source Sans Pro', sans-serif;
}

.meals_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 0.5rem;
}

.card{
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;

    -webkit-box-shadow: 7px 7px 5px 0px rgba(204, 170, 0, 0.3);
    -moz-box-shadow:    7px 7px 5px 0px rgba(204, 170, 0, 0.3);
    box-shadow:         7px 7px 5px 0px rgba(204, 170, 0, 0.3);

}

.card img {
    width:100%;
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.recipe_button {
    background: rgb(233,209,214);
    background: radial-gradient(circle, rgba(233,209,214,1) 0%, rgba(230,227,135,1) 52%, rgba(201,149,24,1) 100%); 
    width: 100%;
    padding:1em;
    justify-content: center;
    align-items: center;
    display:flex;
}







