.meals_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.card{
    border: none;
    border-radius: 0.5rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: wheat;

    -webkit-box-shadow: 1px 2px 15px -3px #F9FF20; 
    box-shadow: 1px 2px 15px -3px #F9FF20;
    background: #000508;
 
}

.card img {
    width:100%;
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.recipe_button {
    background: black;
    background: radial-gradient(circle, rgba(233,209,214,1) 0%, rgba(230,227,135,1) 52%, rgba(201,149,24,1) 100%); 
    width: 100%;
    height: 100%;
    padding:1em;
    justify-content: center;
    align-items: center;
    display:flex;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


.recipe_button_inner{
    padding: 5px 20px  ;
    background-color: sienna;
    border:none;
    border-radius: 5px;
    font-weight: 700;
}





