.container {
    padding: 24px;
    height: 100vh;
  

  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 0px;
   
  }

  .header:hover{
      cursor: pointer;
  }
  
  .footer {
    margin-top: 32px;
    text-align: center;
    font-size: 2rem;
    color:ghostwhite;

  }

