.container {
    padding: 24px;
    height: 100vh;
  

  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 0px;
   
  }
  
  .footer {
    margin-top: 32px;
    text-align: center;
    font-size: 0.75rem;
  }