

.recipe_list_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    grid-gap: 2px;
    background: black;
    justify-content: center;
    margin:1px;
    /* border-radius: 0.5rem; */
}

.card{
    border: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f5f6fa;
}

.recipeCard{
    border: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f5f6fa;
    padding:2%;
    white-space:pre-line;
}

.mealThumb {
    width:100%;
    padding:none;
    
  
}

.recipeSubHeadingContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
}


.recipeSubHeadingCategory{
    display:flex;
    flex-direction: row;
    opacity: 0.5 ;
}

.recipeSubHeadingCountry{
    display:flex;
    flex-direction: row;
    opacity: 0.5 ;
}

.flag{
    width:30%;
}

.ingredientsContainer{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin-top: 2px;

}

.ingredientsImages{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}

.ingredientsImages > img {
    width:25%;
    padding:none;
}


.MoreRecipesContainer{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    /* border:solid blue 3px; */
    justify-content: center;
    
}

.miniCard{
    width:30%;
    /* border:solid red 1px; */
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    background: black;
    background: radial-gradient(circle, rgba(233,209,214,1) 0%, rgba(230,227,135,1) 52%, rgba(201,149,24,1) 100%); 
    margin: 2px;
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.miniCard:hover{
    cursor: pointer;
}

.MoreRecipesImages{
    width:100%;
}

.miniCardHeader{
    width:98%;
    /* border:1px solid purple; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}





