

.recipe_list_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2px;
    background: black;
    justify-content: center;
    /* border-radius: 0.5rem; */
}

.card{
    border: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f5f6fa;
}

.recipeCard{
    border: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f5f6fa;
    padding:2%;
}

.card > img {
    width:100%;
    padding:none;
    
  
}

.recipeSubHeadingContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
}


.recipeSubHeadingCategory{
    display:flex;
    flex-direction: row;
    opacity: 0.5 ;
}

.recipeSubHeadingCountry{
    display:flex;
    flex-direction: row;
    opacity: 0.5 ;
}





