@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400; 
  background-color:black
    
}



* {
  box-sizing: border-box;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  /* background-color: goldenrod; */
  text-decoration: none;
  /* color: white; */
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition:  transform 200ms ease-in-out, all .3s;
  color:black;
  
  

}

a:hover {
  transform: translateY(-6px);
  opacity: .9;
}



