@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
    font-weight: 400; 
  
    
}



* {
  box-sizing: border-box;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  /* background-color: goldenrod; */
  text-decoration: none;
  /* color: white; */
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  color:black
  

}

a:hover {
  opacity: .6;
}
